---
import DefaultLayout from "../pages/login.astro";
---

<DefaultLayout>
	<h1>Hola</h1>
</DefaultLayout>

<script>
	const visitas = document.getElementById('visitas');
	const token = window.sessionStorage.getItem('access');
	fetch ('https://evaluacion-1-kn4q.onrender.com/visitas/',{}

	)

	
</script>