---
import DefaultLayout from "../pages/login.astro";
---

<DefaultLayout>
	<h1>Hola</h1>
</DefaultLayout>

<script>
	const visitas = document.getElementById('visitas');
	const token = window.sessionStorage.getItem('access');
	fetch ('http://127.0.0.1:8000/visitas/',{}

	)

	
</script>